.flash {
    display: block;
    position: fixed;
    top: 25px;
    right: 25px;
    width: 350px;
    padding: 20px 25px 20px 85px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    background-color: #FFF;
    border: 2px solid #ffffff;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    opacity: 0;
}

.flash__icon {
    position: absolute;
    top: 50%;
    left: 0;
    width: 1.8em;
    height: 100%;
    padding: 0 0.4em;
    background-color: #000000;
    color: #FFF;
    font-size: 36px;
    font-weight: 300;
    transform: translate(0, -50%);
}

.flash__icon .icon {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}



@-webkit-keyframes drop-in-fade-out {
    0% {
        opacity: 0;
        visibility: visible;
        -webkit-transform: translate3d(0, -200%, 0);
        -moz-transform: translate3d(0, -200%, 0);
        -ms-transform: translate3d(0, -200%, 0);
        -o-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -200%, 0);
    }

    12% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    20% {
        opacity: 1;
    }

    70% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    80% {
        opacity: 0;
    }

    100% {
        visibility: hidden;
        -webkit-transform: translate3d(75%, 0, 0);
        -moz-transform: translate3d(75%, 0, 0);
        -ms-transform: translate3d(75%, 0, 0);
        -o-transform: translate3d(75%, 0, 0);
        transform: translate3d(25%, 0, 0);
    }
}

@-moz-keyframes drop-in-fade-out {
    0% {
        opacity: 0;
        visibility: visible;
        -webkit-transform: translate3d(0, -200%, 0);
        -moz-transform: translate3d(0, -200%, 0);
        -ms-transform: translate3d(0, -200%, 0);
        -o-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -200%, 0);
    }

    12% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    20% {
        opacity: 1;
    }

    70% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    80% {
        opacity: 0;
    }

    100% {
        visibility: hidden;
        -webkit-transform: translate3d(75%, 0, 0);
        -moz-transform: translate3d(75%, 0, 0);
        -ms-transform: translate3d(75%, 0, 0);
        -o-transform: translate3d(75%, 0, 0);
        transform: translate3d(25%, 0, 0);
    }
}

@-o-keyframes drop-in-fade-out {
    0% {
        opacity: 0;
        visibility: visible;
        -webkit-transform: translate3d(0, -200%, 0);
        -moz-transform: translate3d(0, -200%, 0);
        -ms-transform: translate3d(0, -200%, 0);
        -o-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -200%, 0);
    }

    12% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    20% {
        opacity: 1;
    }

    70% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    80% {
        opacity: 0;
    }

    100% {
        visibility: hidden;
        -webkit-transform: translate3d(75%, 0, 0);
        -moz-transform: translate3d(75%, 0, 0);
        -ms-transform: translate3d(75%, 0, 0);
        -o-transform: translate3d(75%, 0, 0);
        transform: translate3d(25%, 0, 0);
    }
}

@keyframes drop-in-fade-out {
    0% {
        opacity: 0;
        visibility: visible;
        -webkit-transform: translate3d(0, -200%, 0);
        -moz-transform: translate3d(0, -200%, 0);
        -ms-transform: translate3d(0, -200%, 0);
        -o-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -200%, 0);
    }

    12% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    20% {
        opacity: 1;
    }

    70% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    80% {
        opacity: 0;
    }

    100% {
        visibility: hidden;
        -webkit-transform: translate3d(75%, 0, 0);
        -moz-transform: translate3d(75%, 0, 0);
        -ms-transform: translate3d(75%, 0, 0);
        -o-transform: translate3d(75%, 0, 0);
        transform: translate3d(25%, 0, 0);
    }
}

.animate--drop-in-fade-out {
    -webkit-animation: drop-in-fade-out 3.5s 0.4s cubic-bezier(.32, 1.75, .65, .91);
    -moz-animation: drop-in-fade-out 3.5s 0.4s cubic-bezier(.32, 1.75, .65, .91);
    -ms-animation: drop-in-fade-out 3.5s 0.4s cubic-bezier(.32, 1.75, .65, .91);
    -o-animation: drop-in-fade-out 3.5s 0.4s cubic-bezier(.32, 1.75, .65, .91);
    animation: drop-in-fade-out 3.5s 0.4s cubic-bezier(.32, 1.75, .65, .91);
}